# Homework Assignment 3

2020-09-15: Developed by Jingwie Liu based on a previous homework assignment.
<br/>2021-09-07: Updated.

Datafile: "14_Foreign_Exchange_Rates_PureNumeric.csv"

For all problems that involve displaying numerical data, make sure to use an appropriate 'user friendly' data format.  This means use an appropriate number of decimal places, comma sparators on the thousands, etc.  This can easily be done using the string.format() function.

In [1]:
# Some setup ...
# Import some tools
import numpy as np
import pandas as pd

# function to show a NumyPy arrray with its attributes
def show(the_array, show_data = 0):
    print("  Dimension: {:}".format(the_array.ndim))
    print("       Size: {:}".format(the_array.size))
    print("      Shape: {:}".format(the_array.shape))    
    print("  Data Type: {:}".format(the_array.dtype))    
    print("  Item Size: {:}".format(the_array.itemsize))
    print("Data Buffer: {:}".format(the_array.data))
    if show_data:
        print(the_array)

## Read the Data and Create the NumPy Arrays

In [2]:
import os
print(os.getcwd())

C:\Users\YJY\eclipse-workspace\Data-Analytics-and-Modeling\Homework3

In [3]:
# Read the data into a Pandas dataframe and show the first 5 rows (just to "see" the data)
df = pd.read_csv("../data/14_Foreign_Exchange_Rates_PureNumeric.csv")
df.head()

,Index,Time Serie,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,HONG KONG - HONG KONG DOLLAR/US$,...,SINGAPORE - SINGAPORE DOLLAR/US$,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,TAIWAN - NEW TAIWAN DOLLAR/US$,THAILAND - BAHT/US$
0,0,1/3/2000,1.5172,0.9847,1.9033,0.6146,1.8050,1.4465,8.2798,7.7765,...,1.6563,7.3290,101.70,3.8,7.964,8.4430,72.30,1.5808,31.38,36.97
1,1,1/4/2000,1.5239,0.9700,1.9238,0.6109,1.8405,1.4518,8.2799,7.7775,...,1.6535,7.2180,103.09,3.8,7.934,8.3600,72.65,1.5565,30.6,37.13
2,2,1/5/2000,1.5267,0.9676,1.9339,0.6092,1.8560,1.4518,8.2798,7.7780,...,1.6560,7.2080,103.77,3.8,7.935,8.3530,72.95,1.5526,30.8,37.10
3,3,1/6/2000,1.5291,0.9686,1.9436,0.6070,1.8400,1.4571,8.2797,7.7785,...,1.6655,7.2125,105.19,3.8,7.940,8.3675,72.95,1.5540,31.75,37.62
4,4,1/7/2000,1.5272,0.9714,1.9380,0.6104,1.8310,1.4505,8.2794,7.7783,...,1.6625,7.2285,105.17,3.8,7.966,8.4150,73.15,1.5623,30.85,37.30

In [4]:
# Grab the 'EURO AREA - EURO/US$'values as a NumPy array
EUA = df['EURO AREA - EURO/US$'].values
print("Data Type: {:}".format(type(EUA)))
show(EUA)

Data Type: <class 'numpy.ndarray'>
  Dimension: 1
       Size: 5019
      Shape: (5019,)
  Data Type: float64
  Item Size: 8
Data Buffer: <memory at 0x000002922316DD00>

**Problem 1**: In the next cell or cells, use the NumPy array functions to compute the mean, standard deviation, min, and max values(descriptive statistics) of "EURO AREA - EURO/US$" using the variable **EUA** created above. Make sure that you show the computed values and remember to use appropriate 'user friendly' formats for displaying the numbers.

In [5]:
# Start your solution here ... add additional cells as necessary

### Calculate Mean for Column "EURO AREA - EURO/US$"

In [6]:
eu_us_mean = np.mean(EUA)
print("The mean exchange rate between Euro and US dollar is {:.2f}.".format(eu_us_mean))

The mean exchange rate between Euro and US dollar is 0.84.

### Calculate Standard Deviation for Column "EURO AREA - EURO/US$"

In [7]:
eu_us_std = np.std(EUA)
print("The standard deviation of exchange rate between Euro and US dollar is {:.2f}.".format(eu_us_std))

The standard deviation of exchange rate between Euro and US dollar is 0.13.

### Calculate Minimum Value for Column "EURO AREA - EURO/US$"

In [8]:
eu_us_min = np.amin(EUA)
print("The minimum exchange rate between Euro and US dollar is {:.2f}.".format(eu_us_min))

The minimum exchange rate between Euro and US dollar is 0.62.

### Calculate Maximum Value for Column "EURO AREA - EURO/US$"

In [9]:
eu_us_max = np.amax(EUA)
print("The maximum exchange rate between Euro and US dollar is {:.2f}.".format(eu_us_max))

The maximum exchange rate between Euro and US dollar is 1.21.

In [10]:
# Grab some exchange values from Asian contries: JAPAN,CHINA, and THAILAND , slice as a Pandas dataframe and then store
# the values as a NumPy array
asiadf = df[['JAPAN - YEN/US$', 'CHINA - YUAN/US$', 'THAILAND - BAHT/US$']]
asiaarray = asiadf.values
show(asiaarray)

  Dimension: 2
       Size: 15057
      Shape: (5019, 3)
  Data Type: float64
  Item Size: 8
Data Buffer: <memory at 0x000002922320B380>

**Problem 2**: In the next cell or cells, use the NumPy array functions to compute the mean, standard deviation, min, and max values (descriptive statistics) of the exchange rate of the above three Asian countries using the variable **asiaarray** array created above and then display the computed values. Note that we have three different exchange rates for these three countries - JAPAN, CHINA, and THAILAND - so you need to compute the descriptive statistics for all three countries (hint -- use the axis parameter in the function calls).

In [11]:
# Start your solution here ... add additional cells as necessary

### Calculate Mean for Those Three Column

In [12]:
mean_list = np.mean(asiaarray, axis = 0)
print("The mean exchange rate between Japanese Yen and US dollar are {:.2f}.".format(mean_list[0]))
print("The mean exchange rate between Chinese Yuan and US dollar are {:.2f}.".format(mean_list[1]))
print("The mean exchange rate between Thailand Baht and US dollar are {:.2f}.".format(mean_list[2]))

The mean exchange rate between Japanese Yen and US dollar are 106.59.
The mean exchange rate between Chinese Yuan and US dollar are 7.20.
The mean exchange rate between Thailand Baht and US dollar are 35.52.

### Calculate Standard Deviation for Those Three Column

In [13]:
std_list = np.std(asiaarray, axis = 0)
print("The Standard Deviation of exchange rate between Japanese Yen and US dollar are {:.2f}.".format(std_list[0]))
print("The Standard Deviation of exchange rate between Chinese Yuan and US dollar are {:.2f}.".format(std_list[1]))
print("The Standard Deviation of exchange rate between Thailand Baht and US dollar are {:.2f}.".format(std_list[2]))

The Standard Deviation of exchange rate between Japanese Yen and US dollar are 13.21.
The Standard Deviation of exchange rate between Chinese Yuan and US dollar are 0.82.
The Standard Deviation of exchange rate between Thailand Baht and US dollar are 4.56.

### Calculate Minimun Values for Those Three Column

In [14]:
min_list = np.amin(asiaarray, axis = 0)
print("The minimum exchange rate between Japanese Yen and US dollar are {:.2f}.".format(min_list[0]))
print("The minimum exchange rate between Chinese Yuan and US dollar are {:.2f}.".format(min_list[1]))
print("The minimum exchange rate between Thailand Baht and US dollar are {:.2f}.".format(min_list[2]))

The minimum exchange rate between Japanese Yen and US dollar are 75.72.
The minimum exchange rate between Chinese Yuan and US dollar are 6.04.
The minimum exchange rate between Thailand Baht and US dollar are 28.60.

### Calculate Maximum Values for Those Three Column

In [15]:
max_list = np.amax(asiaarray, axis = 0)
print("The maximum exchange rate between Japanese Yen and US dollar are {:.2f}.".format(max_list[0]))
print("The maximum exchange rate between Chinese Yuan and US dollar are {:.2f}.".format(max_list[1]))
print("The maximum exchange rate between Thailand Baht and US dollar are {:.2f}.".format(max_list[2]))

The maximum exchange rate between Japanese Yen and US dollar are 134.77.
The maximum exchange rate between Chinese Yuan and US dollar are 8.28.
The maximum exchange rate between Thailand Baht and US dollar are 45.82.

**Problem 3**: Suppose you want to take a vacation (**a week**) this Thanksgiving and you plan to choose one as your destination from the above three countries. After some investigation, you find the daily expense in each country is: 

1.  JAPAN - 7200 YEN/Day;
2.  CHINA - 500 YUAN/Day; 
3.  THAILAND - 2400 BAHT/Day. 

You decide to choose the destination country who has the lowest cost (in US dollars). You can use mean, max, or min to help you make the final decision. So, answer the following question in the next cell or cells: 

1.  What country is your choice?
2.  What is the total expected cost of your vacation (in US dollars)? 
3.  Discuss briefly how you made your decision (use a *Markdown* cell for this discussion).

In [16]:
# Start your solution here ... add additional cells as necessary

### Calculate The Best Choice

In [17]:
# Calculate average cost for each countries per day
japan_cost = 7200 / mean_list[0]
china_cost = 500 / mean_list[1]
thai_cost = 2400 / mean_list[2]
country = np.array(["Japan", "China", "Thailand"])
cost_list = np.array([japan_cost, china_cost, thai_cost])
min_index = np.argmin(cost_list)
best_choice = country[min_index]
print("The best choice is {}.".format(best_choice))

The best choice is Japan.

### Calcuate The Expected Vacation Cost

In [18]:
# The expected vacation cost equals to cost per day multiply 7.
expected_cost = japan_cost * 7
print("The expected vacation cost to Japan is ${:,.2f}.".format(expected_cost))

The expected vacation cost to Japan is $472.84.

### Explain My Decision
I make this decision mainly according to the average cost per day over all period. First, I will calculate the mean exchange rate for all three countries. Then average cost per day for each country is given. Then, I will convert everything as cost in US dollar per day. Finally, the minimum value of cost in US dollar will be my best choice. And it turns out to be Japan.

In [24]:
# Create an array for SWITZERLAND - FRANC/US$ 
switzerland = df['SWITZERLAND - FRANC/US$'].values
show(switzerland)

  Dimension: 1
       Size: 5019
      Shape: (5019,)
  Data Type: float64
  Item Size: 8
Data Buffer: <memory at 0x000002069CC63400>

**Problem 4**: In the next cell or cells, count the number of days where the exchange rate for Switzerland was greater than 1.5.

In [25]:
# Start your solution here ... add additional cells as necessary

### Count how many days  where the exchange rate for Switzerland was greater than 1.5.

In [29]:
# Numpy.count_nonzero() function will do this for me
count = np.count_nonzero(switzerland > 1.5)
print("There are {:,} days where the exchange rate for Switzerland was greater than 1.5.".format(count))

There are 648 days where the exchange rate for Switzerland was greater than 1.5.

**Problem 5**: In the next cell or cells, count the number of days where the exchange rate for Switzerland was less than 1.0.

In [30]:
# Start your solution here ... add additional cells as necessary

### Count how many days where the exchange rate for Switzerland was less than 1.0.

In [31]:
count = np.count_nonzero(switzerland < 1.0)
print("There are {:,} days where the exchange rate for Switzerland was greater than 1.0.".format(count))

There are 2,102 days where the exchange rate for Switzerland was greater than 1.0.

**Problem 6**: In the next cell or cells, create masks for the 'Time Series' that "before year 2008" and "after year 2008"(include year 2008) and compute the mean, std. dev., min, and max values of of the exchange rate for Switzerland that **a)** before year 2008; and **b)** after year 2008 (include year 2008).<br>
**Hint**: You can use pd.to_datetime() to convert the string in 'Time Series' to a datetime object which is comparable (numerically).

In [33]:
# Start your solution here ... add additional cells as necessary

### Create a masks to get desired year data.

In [34]:
# set "Time Serie" as index first
df = df.set_index('Time Serie')
print(df.index)
# convert index into datetime data type
df.index = pd.to_datetime(df.index)
print(df.index)

Index(['1/3/2000', '1/4/2000', '1/5/2000', '1/6/2000', '1/7/2000', '1/10/2000',
       '1/11/2000', '1/12/2000', '1/13/2000', '1/14/2000',
       ...
       '12/17/2019', '12/18/2019', '12/19/2019', '12/20/2019', '12/23/2019',
       '12/24/2019', '12/26/2019', '12/27/2019', '12/30/2019', '12/31/2019'],
      dtype='object', name='Time Serie', length=5019)
DatetimeIndex(['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06',
               '2000-01-07', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14',
               ...
               '2019-12-17', '2019-12-18', '2019-12-19', '2019-12-20',
               '2019-12-23', '2019-12-24', '2019-12-26', '2019-12-27',
               '2019-12-30', '2019-12-31'],
              dtype='datetime64[ns]', name='Time Serie', length=5019, freq=None)

In [36]:
# Create a mask to get data
year_before_08 = [df['SWITZERLAND - FRANC/US$'].loc[i] for i in df.index if i.year < 2008]
year_after_08 = [df['SWITZERLAND - FRANC/US$'].loc[j] for j in df.index if j.year >= 2008]
year_before_08 = np.array(year_before_08)
year_after_08 = np.array(year_after_08)

### Calculate statistics

In [37]:
# calculate statistics for date before 2008
print("The mean exchange rate between Switzerland Franc and US dollar before 2008 is {:.2f}.".format(np.mean(year_before_08)))
print("The std of exchange rate between Switzerland Franc and US dollar before 2008 is {:.2f}.".format(np.std(year_before_08)))
print("The minimum exchange rate between Switzerland Franc and US dollar before 2008 is {:.2f}.".format(np.amin(year_before_08)))
print("The maximum exchange rate between Switzerland Franc and US dollar before 2008 is {:.2f}.".format(np.amax(year_before_08)))

The mean exchange rate between Switzerland Franc and US dollar before 2008 is 1.40.
The std of exchange rate between Switzerland Franc and US dollar before 2008 is 0.20.
The minimum exchange rate between Switzerland Franc and US dollar before 2008 is 1.10.
The maximum exchange rate between Switzerland Franc and US dollar before 2008 is 1.82.

In [38]:
# calculate statistics for date after 2008
print("The mean exchange rate between Switzerland Franc and US dollar before 2008 is {:.2f}.".format(np.mean(year_after_08)))
print("The std exchange rate between Switzerland Franc and US dollar before 2008 is {:.2f}.".format(np.std(year_after_08)))
print("The minimum exchange rate between Switzerland Franc and US dollar before 2008 is {:.2f}.".format(np.amin(year_after_08)))
print("The maximum exchange rate between Switzerland Franc and US dollar before 2008 is {:.2f}.".format(np.amax(year_after_08)))

The mean exchange rate between Switzerland Franc and US dollar before 2008 is 0.98.
The std exchange rate between Switzerland Franc and US dollar before 2008 is 0.07.
The minimum exchange rate between Switzerland Franc and US dollar before 2008 is 0.73.
The maximum exchange rate between Switzerland Franc and US dollar before 2008 is 1.22.

### We don't even have to use masks to do this task. There is an easy way to slicing pandas dataframe.

In [31]:
year_before_2008 = df['SWITZERLAND - FRANC/US$'][df['SWITZERLAND - FRANC/US$'].index.year < 2008]
print(year_before_2008)

Time Serie
2000-01-03    1.5808
2000-01-04    1.5565
2000-01-05    1.5526
2000-01-06    1.5540
2000-01-07    1.5623
               ...
2007-12-24    1.1567
2007-12-26    1.1504
2007-12-27    1.1409
2007-12-28    1.1275
2007-12-31    1.1329
Name: SWITZERLAND - FRANC/US$, Length: 2013, dtype: float64