# Basic Python Functions

A **function** is a reusable block of code that performs a specific task. It helps make your code more modular, readable, and easier to debug.

### Why Python functions?
- Avoid repeating code
- Improve code clarity
- Break down complex problems
- Support testing and reuse

### Defining a Function in Python
<div style="text-align: center;">
    <img src="PythonFunction.png" style="width: 50%; display: block; margin: auto;" alt="Alt Text">
</div>

In [11]:
### Creating a function
### In Python a function is defined using the def keyword:

def MyFirstFunction():
    print("This is my first Python function")

In [13]:
### Call a function
### To call a function, use the function name followed by parenthesis:

MyFirstFunction()

This is my first Python function

In [7]:
### Arguments/Parameters
### Information can be passed into functions as arguments.

### Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

def MyNameFunction(Name):
  print("My name is " + Name)

MyNameFunction("Jack")
MyNameFunction("Ross")
MyNameFunction("Titanic")

My name is Emil
My name is Tobias
My name is Linus

### The terms parameter and argument can be used for the same thing: information that are passed into a function.

### From a function's perspective:

1. An parameter is the variable listed inside the parentheses in the function definition.
2. An argument is the value that is sent to the function when it is called.

In [1]:
### Number of Arguments

### By default, a function must be called with the correct number of arguments. 
### Meaning that if your function expects n arguments, you have to call the function with n arguments, not more, and not less.

def ClassName(Class1, Class2, Class3):
  print("I have 3 classes this semester, " + Class1 + ", " + Class2 + ", and " + Class3 + ".")

ClassName(Class1 = "MIS2101", Class2 = "BAN7101", Class3 = "BAN7201")

I have 3 classes this semester, MIS2101, BAN7101, and BAN7201.

In [5]:
### Error when more arguments

def ClassName(Class1, Class2, Class3, Class4):
  print("I have 3 classes this semester, " + Class1 + ", " + Class2 + ", and " + Class3 + ".")

ClassName(Class1 = "MIS2101", Class2 = "BAN7101", Class3 = "BAN7201")

TypeError: ClassName() missing 1 required positional argument: 'Class4'

In [7]:
### Error when less arguments
def ClassName(Class1, Class2):
  print("I have 3 classes this semester, " + Class1 + ", " + Class2 + ", and " + Class3 + ".")

ClassName(Class1 = "MIS2101", Class2 = "BAN7101", Class3 = "BAN7201")

TypeError: ClassName() got an unexpected keyword argument 'Class3'

In [7]:
### Arbitrary Arguments, *args
### If number of arguments is unknown, add a * before the parameter name in the function definition.

### *args	Collects any number of positional arguments into a tuple
### **kwargs	Collects any number of keyword arguments into a dictionary

def describe_pet(pet_type, *names, **info):
    print(f"Pet type: {pet_type}")
    
    print("Names:")
    for name in names:
        print(f" - {name}")
    
    print("Info:")
    for key, value in info.items():
        print(f" - {key}: {value}")

describe_pet(
    "dog",
    "Buddy", "Max", "Rocky",
    {"color":"brown",
    "age":4,
    "vaccinated":True}
)

### Imagine the situation that when someone has multiple dogs, each dog has a unique name and some information

Pet type: dog
Names:
 - Buddy
 - Max
 - Rocky
 - {'color': 'brown', 'age': 4, 'vaccinated': True}
Info:

In [9]:
### this will also work
### what's the difference with the above cell?

describe_pet(
    "dog",
    "Buddy", "Max", "Rocky",
    color="brown",
    age=4,
    gender = "female",
    vaccinated=True
)

Pet type: dog
Names:
 - Buddy
 - Max
 - Rocky
Info:
 - color: brown
 - age: 4
 - gender: female
 - vaccinated: True

In [17]:
### Default Parameter Value & Return Value
### If we call the function without argument, it uses the default value.
### Return statement key word: return

def DefaultParameter_Address(StrNo, StrName, City, State = "Illinois", Country = "United States"):
    my_address = StrNo + ' ' + StrName + ', ' + City + ', ' + State + ', ' + Country
    return 'My first US address is ' + my_address

### recall the previous cell: how to call a function?

In [19]:
streetNo = "527"
StreetName = "Magnolia Ave"
City = "Auburn"
State = 'Alabama'

print(DefaultParameter_Address(streetNo, StreetName, City))

My first US address is 527 Magnolia Ave, Auburn, Illinois, United States

In [21]:
streetNo = "527"
StreetName = "Magnolia Ave"
City = "Auburn"
State = 'Alabama'

print(DefaultParameter_Address(streetNo, StreetName, City, State))

My first US address is 527 Magnolia Ave, Auburn, Alabama, United States

In [26]:
### library functions example 
### numpy.random.randint
### https://numpy.org/doc/stable/reference/random/generated/numpy.random.randint.html
import numpy as np

np.random.randint(2, size=10)

array([0, 1, 1, 0, 0, 1, 0, 1, 1, 0])